@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Medium.woff') format('woff'),
        url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Black.woff') format('woff'),
        url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Light.woff') format('woff'),
        url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Thin.woff') format('woff'),
        url('fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope'), local('Manrope-Bold'),
        url('fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Orchidea Pro';
    src: url('fonts/OrchideaPro-Regular.eot');
    src: local('Orchidea Pro Regular'), local('OrchideaPro-Regular'),
        url('fonts/OrchideaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OrchideaPro-Regular.woff2') format('woff2'),
        url('fonts/OrchideaPro-Regular.woff') format('woff'),
        url('fonts/OrchideaPro-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Orchidea Pro';
    src: url('fonts/OrchideaPro-MediumItalic.eot');
    src: local('Orchidea Pro Medium Italic'), local('OrchideaPro-MediumItalic'),
        url('fonts/OrchideaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OrchideaPro-MediumItalic.woff2') format('woff2'),
        url('fonts/OrchideaPro-MediumItalic.woff') format('woff'),
        url('fonts/OrchideaPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Orchidea Pro';
    src: url('fonts/OrchideaPro-Medium.eot');
    src: local('Orchidea Pro Medium'), local('OrchideaPro-Medium'),
        url('fonts/OrchideaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/OrchideaPro-Medium.woff2') format('woff2'),
        url('fonts/OrchideaPro-Medium.woff') format('woff'),
        url('fonts/OrchideaPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}